<script src="http://localhost:10/jquery.js"></script>
<script src="http://localhost:10/proper.js"></script>
<script src="http://localhost:10/bootstrap.min.js"></script>
<script src="/js/script.js"></script>
</body>

</html>